nav{
    background: blueviolet;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu p{
    font-size: 20px;
    margin: 0 7px;
}

.main-titre{
    font-size: clamp(60px, 2vw, 40px);
    text-align: center;
}